body{
	background-color: #000000;
	margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  color: #000000;
}

li a.selectedclass {
  background-color: #000000;
  color: white;
}

.menu{
	height: 50px;
	width: 100%;
	float: left;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 100;
}

.options{
	height: 20px;
	width: 100px;
	float: left;
	color: #00ffff;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    letter-spacing: 7px;
}

.border {
  border-bottom: 2px solid transparent;
  border-color: #00ffff;
}

.eppho{
	height: 30px;
	width: 120px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15px;
}

.dropbtn {
	background-color: #000000;
	color: #00ffff;
	padding: 10px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	width: 120px;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000;
	width: 120px;
	z-index: 1;
	text-align: center;
}

.dropdown-content a {
	color: #00ffff;
	padding: 0px 16px 12px 16px;
	text-decoration: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	weight: 100;
}

.dropdown-content a:hover {
	background-color: #00ffff;
	color: #000000;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #00ffff;
	color: #000000;
}
